.b-form {
  &__inner {
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 370px;
    gap: 20px;
  }

  &__options {
    display: flex;
    justify-content: space-between;
    align-items: center;

    // button {
    //   display: contents;
    // }

    &--button {
      background-color: transparent;
    }
  }
}