.site-header {
  position: fixed;
  width: 100%;
  padding: 32px 55px 10px;
  z-index: 10;
}

.social-icon-wrap {
  position: relative;
}

.social-icons {
  position: relative;
  right: 0;

  a {
    padding: 8px;
  }
}

.logotype {
  display: inline-block;
  padding: 0;
  margin-left: -5px;
  font: 400 30px / 1 intro;
  color: #fff;
  letter-spacing: -0.15em;
  margin-top: 20px;
  text-decoration: none;
}

.social-icons {
  margin-top: 16px;
  white-space: nowrap;
  width: 100%;
}